<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Artistic Urns</title>

 	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/font-awesome-ie7.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/datetimepicker.css" media="screen"/>
 	<link type="text/css" rel="stylesheet" href="/css/theme.css" />

 	<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
 	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/js/s3Slider.js"></script>
	<script src="https://js.stripe.com/v1/"></script>
	<script type="text/javascript" src="/js/application.js"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('#slider1').s3Slider({
	            timeOut: 3000
	        });
	    });
	</script>

 <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
 <!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top green" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
			      <li class="<%= active 'dashboard' %>"><a href="/admin/dashboard">Dashboard</a></li>
			      <li class="<%= active 'products' %>"><a href="/product/products">Product</a></li>
	  				 <li class="dropdown <%= active ['material','origin','style','woodtype'] %>"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
	  					 <ul class="dropdown-menu">
	  						 <li class="<%= active 'material' %>"><a href="/product/material/materials">Material</a></li>
	  						 <li class="<%= active 'origin' %>"><a href="/product/origin/origins">Wood Origin</a></li>
							 <li class="<%= active 'style' %>"><a href="/product/productstyle/productstyles">Style</a></li>
							 <li class="<%= active 'woodtype' %>"><a href="/product/woodtype/woodtypes">Wood Type</a></li>
							 <li class="<%= active 'fader' %>"><a href="/fader/faders">Faders</a></li>
							 <li class="<%= active 'states' %>"><a href="/states/states">States</a></li>
							 <li class="<%= active 'regions' %>"><a href="/shipping/zones/zones">Zones</a></li>
	  					 </ul>
	  				 </li>
					<li class="<%= active 'distributor' %>"><a href="/distributor/distributors">Distributors</a></li>
					<li class="<%= active 'purchases' %>"><a href="/admin/purchases">Orders</a></li>


  				 	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Analytics <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="<%= active 'material' %>"><a href="#">Wood Site</a></li>
							<li class="<%= active 'material' %>"><a href="#">Pet Site</a></li>
						</ul>
					</li>
					<li><a href="https://manage.stripe.com" target="blank">Stripe <i class="icon-arrow-right"></i></a></li>

					<li><a href="/index"><i class="icon-home"></i> Home</a></li>
				 </ul>
			 </div>
		 </div>
	 </nav>

	<center><strong><span style="color: #ed5929;"><%= alert %></span></strong></center>
	<%= yield %>

	<script type="text/javascript">
		$('.form_date').datetimepicker({
	        weekStart: 0,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 1
	    });
	</script>

</body>
</html>
