<div class="white">
	<div class="container">
		 <div class="row">
				<div class="span6" style="padding-top: 50px;">
					<div class="well" style="padding-left: 8%;">
						<h4>Contact Us</h4>
						<form role="form">
						  <div class="form-group">
						    <label for="name">Name</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="name" placeholder="Name" value="<%= @contact.name %>">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="company">Company</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="company" placeholder="Company" value="<%= @contact.company %>">
						    </div>
						  </div>
						  <div class="form-group">
							  <label for="email">Email</label>
							      <div class="controls">
							        <input type="text" class="form-control span5" id="email" placeholder="Email" value="<%= @contact.email %>">
							      </div>
						  </div>
						  <div class="form-group">
						    <label for="phone">Phone</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="phone" placeholder="Phone" value="<%= @contact.phone %>">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="Comment">Comment</label>
						    <div class="controls">
						      <textarea type="text" class="form-control span5" id="Comment" placeholder="Comment" rows="7"><%= @contact.comment %></textarea>
						    </div>
						  </div>
		  				<div class="control-group">
		  					<label for="read" class="span2 control-label"></label>
		  					<div class="span3">
		  						<label class="checkbox">
		  							<input type="checkbox" name="read" id="read" <%= 'checked="checked"' if @contact.read %> />
		  							<strong>Read</strong>
		  						</label>
		  					</div>
		  				</div>
						  <div class="form-group">
						    <label for="contact"> </label>
							 <div class="controls">
						      <button type="submit" class="btn btn-success">Save</button>
						    </div>
						  </div>
						</form>
					</div>
					<br />
					
				</div>
			</div>
		</div>
	</div>   <!-- container -->
	
</div>  <!-- white -->
