<div class="white">
	<div class="container">
		 <div class="row">
				<div class="span6" style="padding-top: 50px;">
					<p style="text-align: center;"><img src="/img/aui-logo.png" /></p>
					<br /><br /><br />
					<p class="lead" style="text-align: center;">Contact <strong>Artistic Urns, Inc.</strong></p>
					<p style="text-align: center;">1260 Rolling Green Drive<br />
					Acworth, GA 30102</p><br />
						<h2 style="text-align: center;">770-591-1565</h2>
						<br /><br />
					<h6 style="text-align: center; font-weight: 300;">100% Satisfaction Guaranteed</h6><br />

				</div>
				<div class="span6" style="padding-top: 50px;">
					<div class="well" style="padding-left: 8%;">
						<h4>Contact Us</h4>
						<form method="post" role="form"  action='/contact/new'>
						  <div class="form-group">
						    <label for="name">Name</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="name" name="name" placeholder="Name" value="<%= @contact.name %>">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="company">Company</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="company" name="company" placeholder="Company" value="<%= @contact.company %>">
						    </div>
						  </div>
						  <div class="form-group">
							  <label for="email">Email</label>
						      <div class="controls">
						        <input type="text" class="form-control span5" id="email" name="email" placeholder="Email" value="<%= @contact.email %>">
						      </div>
						  </div>
						  <div class="form-group">
						    <label for="phone">Phone</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="phone" name="phone" placeholder="Phone" value="<%= @contact.phone %>">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="Comment">Comment</label>
						    <div class="controls">
						      <textarea type="text" class="form-control span5" id="Comment" name="comment" placeholder="Comment" rows="7"><%= @contact.comment %></textarea>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="contactus"> </label>
							 <div class="controls">
						      <input class="btn btn-small btn-success" type="submit" value="Send" />
						    </div>
						  </div>
						</form>
					</div>
					<br />
					
				</div>
			</div>
		</div>
	</div>   <!-- container -->
	
</div>  <!-- white -->
